# Docker Compose defaults
POSTGRES_DB=media_vault_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# Backend settings
DEBUG=True
SECRET_KEY=django-insecure-dev-key
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.onwybdfflhxmqtlokzbc
DB_PASSWORD=your-supabase-db-password
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_SSLMODE=require
REDIS_URL=redis://redis:6379/0

# Frontend settings
REACT_APP_API_URL=http://localhost:8000/api
